* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black; /*W*hat do you suggest about setting the body bg color to black, is this a common thing? or devs leave it white*/
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    background: #333;
}

header .container {
    width: 90%;
    max-width: 1100px; /*fixing width not to over stretch on the big screens*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 0 auto;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    animation: animate 6s linear infinite;
}

.logo span {
    color: aqua;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

nav a:hover {
    color: aqua;
    animation: animate 3s linear infinite;
}

/* Animation for nav hover*/
@keyframes animate {
    0% {
        filter: hue-rotate(0);
    }

    100% { 
        filter: hue-rotate(720deg);
    }
}

.hero {
    height: 90vh;
    /* Setting the fall back color and adding the bg image */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("coding-image.jpg") center/cover no-repeat;
    /* See this flexbox thing below, why does it work for the section class hero and not in the hero-text class in the div - I tried there, couldn't work and worked for the section class, why is that?*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero-text span {
    color: aqua;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: #333;
    background-color: aqua;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(32, 138, 138);
    animation: animate 2s linear infinite;
}

.projects {
    margin: 4rem 6rem;
}

.projects h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.projects .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project {
    background: rgb(50, 124, 124);
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project:hover {
    background: rgb(6, 70, 70);
    transform: translateY(-5px);
    animation: animate 3s linear infinite;
}

footer {
    background: #333;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Mobile Responsiveness */
@media (max-width: 620px) {
    .hero-text h2 {
        font-size: 1.8rem;
    }

    .logo {
        font-size: 1.8rem;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
    }
}